body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}

form {

    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}

h2{
    text-align: center;
    margin-bottom: 40px;
}

input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label{
    color:#888 ;
    font-size: 18px;
    padding: 10px;
}

button{
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
}
button:hover{
    opacity: .7;
}

.error{
    background: rgba(243, 164, 164, 0.933);
    color:rgba(240, 94, 94);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

